#app { height: 100% }
.testimonial-card {
    padding: 50px 50px 0px;
    margin: 0px 15px 30px;
    text-align: center;
    border-radius: 8px;
    background: var(--primary)
}

.testimonial-card i {
    font-size: 45px;
    margin-bottom: 20px;
    color: var(--white);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.testimonial-card p {
    font-size: 22px;
    line-height: 32px;
    margin-bottom: 25px;
    font-style: italic;
    color: var(--white);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.testimonial-card h5 {
    color: var(--white);
    text-transform: capitalize;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s
}

.testimonial-card ul {
    font-size: 14px;
    color: var(--yellow);
    margin-bottom: 13px
}

.testimonial-card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: -35px;
    display: inline-block;
    border: 5px solid var(--body)
}

@media (max-width: 575px) {
    .testimonial-card {
        margin: 0px 0px 30px;
        padding: 25px 25px 0px
    }

    .testimonial-card p {
        font-size: 18px;
        line-height: 28px
    }
}

.swiper {
  width: 100%;
  height: 100%;
  background: transparent;
}

.swiper-slide {
  font-size: 18px;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-slide .title {
  font-size: 41px;
  font-weight: 300;
}

.swiper-slide .subtitle {
  font-size: 21px;
}

.swiper-slide .text {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}
